<div
  class="d-flex justify-content-center align-items-center flex-wrap gap-5 flex-column py-5"
>
  <h2>
    Work Experience
    <i class="fa-solid fa-gear" [ngClass]="{ 'rotating-icon': true }"></i>
  </h2>

  <div class="d-flex justify-content-center align-items-center flex-wrap gap-5">
    @for (work of workData; track $index) {
      <app-feature-card
        [title]="work.title"
        [position]="work.position"
        [type]="work.type"
        [duration]="work.duration"
        [description]="work.description"
      ></app-feature-card>
    }
  </div>
</div>
