<footer class="mt-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-center">
        <p class="footer-description">
          <span class="quote">"</span>I’m driven by a passion for thinking
          differently and building innovative products. My team and I have
          consistently ranked in the top 10 in 4 innovation competitions, and we
          proudly secured 3rd place in the IEEE Innovation Nation Sri Lanka,
          Colombo North.<span class="quote">"</span>
        </p>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <div class="contact-details-holder">
          <p><i class="fa-solid fa-phone-volume"></i> +94719925363</p>
          <p>
            <i class="fa-solid fa-envelope"> </i> pmwickramaratna&#64;gmail.com
          </p>
          <a href="https://github.com/Wicky2001" target="_blank">
            <i class="fa-brands fa-github"></i> Wicky2001
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
